html{
    height: 100%;
    
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: radial-gradient(#0a5155,#12818b, #81cdd3);
}
.main{
    border-radius: 20px;
    background-color: white;
    height: 25rem;
    width: 20rem;
    margin: 8% auto 0 auto;
    
}
.naveed_first_div{
    border-radius: 20px 20px 0 0;
    height: 8rem;
    background-image: url(images/bg-pattern-card.svg);
}
.naveed_second_div{
    height: 12rem;
    border-bottom: 1px solid rgb(65, 167, 180);
}
.naveed_second_div img{
    width: 8rem;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -4rem;
}
.naveed_third_div ul{
    list-style-type: none;
    padding:  0;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
}
.attribution { 
    font-size: 1rem; 
    text-align: center; 
}
footer p{
    margin-top: 80px;
    color: white;
}
.zoom-effect-byNaveed{
    transition: transform 0.3s;
}
.zoom-effect-byNaveed:hover{
    transform: scale(1.5);
}
.attribution a { 
    color: hsl(228, 67%, 18%); 
}
.attribution a:hover{
    font-size: 1.2rem;
}